/*OK帮css*/

.back-bar{
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 56px;
  background: #C20C0C;
  color: white;
}
.back-bar-backBtn{
  display:block;
  float:left;
  width: 20%;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 18px;
}
.back-bar-name{
  display:block;
  float:left;
  width: 60%;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 18px;
}
.back-bar-cancelBtn{
  display:block;
  float:left;
  width: 20%;
  height: 56px;
  text-align: center;
  line-height: 56px;
  font-size: 18px;
}
/*backBar-css*/
.ok-text-first{
  margin-top: 56px;
}
.ok-text-box{
  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  font-size:16px;
  display: block;
  height: 58px;
  text-align: left;
  width: 100%;
  /*margin-top: 56px;*/
}.ok-text-box1{
   padding-left:20px;
   padding-right:20px;
   font-size:16px;
   display: block;
   height: 70px;
   text-align: left;
   width: 100%;
   margin-top: 5px;
 }
.ok-text-name{
  color:#C20C0C;
  width: 30%;
  height: 48px;
  line-height:48px;
  display: block;
  float: left;
}
.ok-text-name2{
  color:darkgrey;
  height: 40px;
  line-height:40px;
  display: block;
  margin-left: 1%;
  float: left;
  font-size: 10px;
  margin-top: -8%;
}
.ok-text-name3{
  color:black;
  height: 40px;
  line-height:70px;
  display: block;
  margin-left: -21%;
  float: left;
  font-size: 10px;
  margin-top: -7%;
}
.ok-text-name4{
  color:darkgrey;
  height: 40px;
  line-height:100px;
  display: block;
  margin-left: -21%;
  float: left;
  font-size: 10px;
  margin-top: -7%;
}
.ok-text-name5{
  color:darkgrey;
  height: 40px;
  line-height:85px;
  display: block;
  margin-left: -1%;
  float: left;
  font-size: 10px;
  margin-top: -13%;
}
.ok-model-text-box{
  box-shadow: 0px 1px 3px #888888;
  padding-bottom: 10px;
  z-index: 100;
  position: relative;
}
.ok-border{
  width: 100%;
  z-index: -100;
  position: relative;
  background: #F2F2F2;
  height: 8px;
}
.ok-text-textBox{
  color:#C20C0C;
  width:70%;
  height: 48px;
  display: block;
  float: left;
}
.ok-text-text{
  font-size: 16px;
  height: 48px;
  width: 100%;
}
/*sell*/
.ok-sellOrStore-model{
  width: 50%;
  height: 80px;
  padding-top: 15px;
  display: block;
  float: left;
}
.ok-sellOrStore-box{
  width: 100%;
  margin:0 auto;
  height: 50px;
  padding-left: 20px;
}
.ok-sellOrStore-icon{
  color:orange;
  font-size:25px;
  width: 20%;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.ok-sellOrStore-content{
  width: 70%;
  height: 50px;
  display: block;
  float: left;
  font-size: 18px;
}
.ok-sellOrStore-subcontent{
  font-size: 12px;
  color: #888888;
}
.ok-model-border{
  width: 100%;
  height: 1px;
  background: #F2F2F2;
  clear: both;
}
/*-------------------------------------------*/
html{
  font-family: "Helvetica Nuue",Helvetica, sans-serif;
  /*谷歌浏览器字体最小12px 100%/none关闭了字体大小自动调整功能*/
  -webkit-text-size-adjust: none;
  /*a标签以及：active 的伪类有默认的高亮框*/
  -webkit-tap-highlight-color: transparent;
  /*禁止文本被选中*/
  /*-webkit-user-select: none;*/
  font-size:12px;
  line-height: 1.5;
}
body{
  overflow-x: hidden;
  /*开启mobile网页的快速滚动和回弹效果*/
  -webkit-overflow-scrolling: touch;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  margin:0;padding:0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.van-notice-bar__left-icon{
  padding-top: 0px!important;
}
/*去掉所有的边框*/
*{
  margin: 0;
  padding: 0;
}
/*防止低版本IE不认识H5标签*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
ul,ol{list-style:none;}
/*
        outline:none; 轮廓
        hide-focus:expression(this.hideFocus=true); 兼容 针对于IE的写法 效果跟上面一样
*/
a{
  text-decoration:none;
  outline:none;
  hide-focus:expression(this.hideFocus=true);
  background-color:transparent;
  color: #575757;
  -webkit-tap-highlight-color:transparent;
}
img{border:0;vertical-align:middle;}
/*-webkit-appearance: none,就可以去除浏览器默认样式*/
input,select{
  vertical-align:middle;
  outline: none;
  border:none;
  font-family:arial,'\5FAE\8F6F\96C5\9ED1',sans-serif;
  background: #ffffff;
  -webkit-appearance:none;
}
input:-webkit-autofill{
  background: #ffffff !important;
}
i{font-style:normal;}
table{border-spacing:0;border-collapse:collapse;}
img{border:0;vertical-align:middle;}
.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

/*address, cite, dfn, em, var { font-style: normal; } !* 将斜体扶正 *!*/
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  /*color: #485579;*/
}

a:hover {
  text-decoration: none;
  /*color: #727a87;*/
}

/** 重置表单元素 **/
legend {
  color: #000;
}

/* for ie6 */
fieldset, img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%;
}

/* 清除浮动 */
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}


.clearfix {
  *zoom: 1;
}

.el-message__group p {
  text-align: center;
}

[v-cloak] {
  display: none;
}
.fr{
  float: right;
}
.fl{
  float: left;
}
/* #app_root{
  min-height:stretch;
  position: relative;
} */
